/* Background Image */
body {
    background-image: url(images/gravel.png);
}

/* Header Styles */
.cameron {
    background-color: teal;
    color: white;
    border-radius: 20px;
    background: teal;
    padding: 20px; 
}

/* Picture Float */
.camPic {
    transform: rotate(90deg);
    float: left;
    margin-bottom: 35px;
    margin-top: 15px;
    clear: left;
}

/* About Section */
.aboutContainer {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
}

#aboutMe {
    text-align: center;
    color: white;
    background-color: teal;
    border-radius: 10px;
}

/* Portfolio Section */
.imgContainer {
    max-height: 760px;
    max-width: 760px;
    margin-bottom: 20px;
}
.aboutImage {
    position: relative;
    bottom: 10px;
}
.picCaption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

/* Contact Page */
.sendButton {
    background-color: teal;
    color: white;
}
button:hover {
    background-color: blue;
}
#pCenter {
    text-align: center;
}

/* Footer */
.footerContainer {
    text-align: center;
    color: white;
    background-color: grey;
    border-top: 5px solid teal;
}