/* Background Image */
body {
    background-image: url(images/gravel.png);
}

/* Header Styles */
.cameron {
    background-color: teal;
    color: white;
    border-radius: 20px;
    background: teal;
    padding: 20px; 
}

/* Picture Float */
.camPic {
    transform: rotate(90deg);
    float: left;
    margin-bottom: 25px;
    margin-top: 15px;
}

/* About Section */
.aboutContainer {
    max-width: 960px;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    position: relative;
    left: 290px;
}

#aboutMe {
    text-align: center;
    color: white;
    background-color: teal;
    border-radius: 10px;
}

/* Portfolio Section */
.abContainer {
    max-width: 700px;
    max-height: 700px;
    position: relative;
    left: 400px;
}
.aboutImage {
    position: relative;
    bottom: 10px;
}
.picCaption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}
/* Footer */
.footerContainer {
    text-align: center;
    color: white;
    background-color: grey;
    border-top: 5px solid teal;
}